
html, body {
    height: 100%;
    background-color: aliceblue;
}

h1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
}

.top {
    display: table;
    width: 100%;
    position: relative;
}

.buttons {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}

.table {
    /* height: 100%; */
    width: 100%;
    display: table;
    position: absolute;
}

.table #inner{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#inner #container {
    vertical-align: middle;
    display: inline-block;
    width: 480px;
    height: 480px;
    border: 1px solid black;
}

.row {
    font-size: 0;    
}

.cell {
    display: inline-block;
    background-color: white;
}

.cell.color {
    background-color: black;
}


